#content article.post.page {
    margin-top: 30px;
}

#content form.maakapay-payment-form {
    padding: 30px 20px;
    background: #f9f9f9;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    margin: 30px 0;
}

.intl-tel-input.allow-dropdown {
    width: 100%;
}

#content select#country {
    border-radius: 0px;
}

#footer .row.large-columns-3 {
    margin-left:auto !important;
    margin-right:auto !important;
}

.info {
    color: red;
}

@media only screen and (max-width: 480px) {
    #content h1, #content h3 {
        text-align: center;
    }
}

.error {
    color: red;
}

.pay-now.spinning {
    background-color: #212121;
    padding-right: 40px;
}
.pay-now.spinning:after {
    content: '';
    position: absolute;
    right: 25px;
    top: 50%;
    width: 0;
    height: 0;
    box-shadow: 0px 0px 0 1px #080808;
    border-radius: 50%;
    animation: rotate360 .5s infinite linear, exist .1s forwards ease;
}
.pay-now.spinning:before {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    right: 25px;
    top: 50%;
    position: absolute;
    border: 2px solid #000000;
    border-right: 3px solid #27ae60;
    animation: rotate360 .5s infinite linear, exist .1s forwards ease;
}
@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes exist {
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}

.overlay-styles {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0);
    opacity: 0.87;
    overflow-x: hidden;
    transition: 2s;
}

.overlay-content-styles {
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    width: 50%;
    transition: 0.2s;
    z-index: 10;

}

.overlay-content-styles > snap {
    color: #ccc;
    border: 2px solid #ccc;
    margin: 0;
    border-radius: 20px;
    padding: 2%;
}

.avoid-clicks {
    pointer-events: none;
}

.maakapay-website-logo .custom-logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 96px;
    max-height: 96px;
    height: auto;
    display: inline-block;
    width: auto;
}

@media only screen and (min-width: 482px) {

    .maakapay-website-logo .custom-logo {
        max-width: 300px;
        max-height: 100px;
        height: auto;
        width: auto;
    }
}